<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Braintree Open Source</title>
<meta name="description" content="The official home of Braintree's open source contributions. We share our latest projects and help you explore our community of designers and developers.">
<!-- Sharing meta tags -->
<meta property="og:title" content="Braintree Open Source & Community Page" />
<meta property="og:type" content="website" />
<meta property="og:description" content="The official home of Braintree's open source contributions. We share our latest projects and help you explore our community of designers and developers." />
<meta property="og:image" content="https://braintree.github.io/img/ogimage.png" />

<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

<link href="img/favicon.png" rel="icon" type="image/png">
<link rel="stylesheet" href="css/style.css">

<body>

    <header class="header-main">
        <svg width="126" height="29" viewBox="194 58 126 29" xmlns="http://www.w3.org/2000/svg">
  <g fill="#000" fill-rule="nonzero">
    <path d="M194 74v-2.197h1.75V61.2H194V59h6.996c3.21 0 5.168 1.474 5.168 4.034 0 1.68-.99 2.716-2.244 3.207 1.8.494 3.08 1.76 3.08 3.492 0 2.742-2.14 4.268-5.638 4.268H194zm4.15-12.8v4.085h2.61c1.96 0 2.977-.725 2.977-2.043 0-1.345-1.044-2.044-3.002-2.044h-2.585zm0 10.603h2.977c2.297 0 3.446-.75 3.446-2.2 0-1.422-1.228-2.197-3.63-2.197h-2.793v4.397zM219.36 66.865c-.26-.89-.907-1.413-1.762-1.413-1.993 0-3.884 1.49-3.884 4.21v2.876h3.833v2.222H209v-2.222h2.434v-6.693h-1.916v-2.223h4.17v1.882c.698-1.307 2.123-2.248 4.013-2.248 2.125 0 3.446 1.228 3.834 2.98l-2.175.627v.002zm11.653 1.41v-.627c0-1.57-1.243-2.224-2.59-2.224-1.268 0-2.356.523-3.237 1.333l-1.502-1.65c1.036-.97 2.512-1.855 4.74-1.855 2.77 0 4.92 1.49 4.92 4.315v4.97h1.606v2.222h-3.937v-1.176c-.595.968-2.2 1.543-3.78 1.543-2.28 0-4.248-1.177-4.248-3.505 0-2.747 2.668-3.79 5.102-3.79 1.19 0 2.175.233 2.924.443h.003zm0 1.987c-.724-.262-1.812-.47-2.823-.47-1.45 0-2.85.47-2.85 1.803 0 .992.882 1.464 2.1 1.464 1.682 0 3.572-.917 3.572-2.487v-.313.002zm17.766 2.276v2.22h-11.136v-2.22h4.61v-6.694h-3.523v-2.222h5.8v8.916h4.248zm-6.81-11.14h2.563V58h-2.564v3.4zm9.556 11.14h1.683v-6.694h-1.58v-2.222h3.832v1.437c.674-1.1 2.07-1.805 3.78-1.805 2.46 0 4.222 1.567 4.222 4.104v5.178h1.683v2.22h-5.722v-2.22h1.76v-4.55c0-1.936-1.164-2.485-2.226-2.485-1.735 0-3.47 1.308-3.47 3.32v3.715h1.762v2.22h-5.724v-2.22h-.002zm16.757-6.694h-2.875v-2.222h2.875v-4.027h2.28v4.027h5.36v2.222h-5.36v4.68c0 1.725 1.194 2.43 2.565 2.43 1.296 0 2.382-.732 3.187-1.542l1.53 1.595c-1.01 1.098-2.563 2.117-4.715 2.117-2.768 0-4.842-1.542-4.842-4.524v-4.756h-.005zm21.992 1.02c-.258-.89-.904-1.412-1.76-1.412-1.993 0-3.884 1.49-3.884 4.21v2.876h3.834v2.222h-8.547v-2.222h2.436v-6.693h-1.916v-2.223h4.17v1.882c.7-1.307 2.124-2.248 4.013-2.248 2.124 0 3.444 1.228 3.833 2.98l-2.175.627-.003.002zm15.336 6.195c-1.136 1.2-3.16 2.064-5.412 2.064-3.702 0-6.294-2.51-6.294-5.936s2.51-5.936 6.007-5.936c3.472 0 5.908 2.693 5.908 6.353v.393h-9.507c.39 1.856 1.92 2.98 3.912 2.98 1.658 0 3.082-.682 3.86-1.544l1.527 1.62v.005zm-9.202-5.02h6.784c-.336-1.594-1.734-2.667-3.288-2.667-1.762 0-3.108 1.1-3.496 2.668zm23.36 5.02c-1.14 1.204-3.16 2.066-5.413 2.066-3.703 0-6.293-2.51-6.293-5.934 0-3.426 2.51-5.937 6.008-5.937 3.47 0 5.905 2.694 5.905 6.354V70h-9.505c.39 1.858 1.917 2.982 3.91 2.982 1.658 0 3.083-.68 3.86-1.543l1.527 1.62zm-9.195-5.02h6.786c-.34-1.594-1.737-2.667-3.29-2.667-1.762 0-3.11 1.1-3.498 2.668zm-53.33 13.69l-1.207 2.35h1.682l-.476-2.35zm-1.505 2.934l-.58 1.14h-.718l2.613-4.976h.647l1.06 4.976h-.68l-.235-1.14H255.738zm44.856.706c.258 0 .47-.05.64-.148.17-.098.296-.224.376-.378.08-.154.122-.313.122-.476 0-.145-.04-.268-.117-.372-.078-.103-.212-.203-.4-.3l-.62-.265c-.35-.157-.6-.33-.755-.518-.153-.187-.23-.414-.23-.683 0-.293.072-.552.22-.777.147-.222.353-.394.616-.515.262-.12.566-.18.906-.18.285.004.533.044.747.118.213.074.4.188.56.336l-.107.67c-.364-.335-.787-.505-1.27-.51-.295 0-.536.077-.72.225-.188.15-.28.34-.28.57 0 .13.046.242.138.333.094.09.264.195.51.31l.605.275c.328.163.56.34.692.53.137.19.202.418.202.682 0 .304-.064.582-.193.837-.126.256-.333.464-.617.624-.285.163-.65.242-1.094.242-.61 0-1.092-.155-1.442-.47l.115-.712c.42.375.888.562 1.404.562l-.01-.01zm3.43-2.322c-.224.2-.377.442-.457.726h2.06c.006-.04.008-.092.008-.158 0-.27-.07-.48-.213-.635-.14-.152-.343-.228-.603-.228-.305 0-.568.1-.794.298l-.002-.002zm1.872-.444c.233.26.352.602.352 1.022 0 .14-.007.256-.022.345-.014.095-.036.2-.07.327h-2.674c-.015.36.078.64.277.834.198.196.468.292.808.292.24 0 .452-.03.647-.088.194-.06.386-.15.576-.27l-.084.54c-.365.253-.795.376-1.293.376-.326 0-.61-.07-.85-.212-.237-.14-.42-.338-.546-.587-.126-.25-.187-.53-.187-.844 0-.308.076-.624.226-.955.154-.327.382-.604.69-.828.307-.222.686-.336 1.136-.336.442 0 .778.13 1.014.393v-.006zm2.542.27c-.28 0-.515.102-.71.305-.194.204-.32.5-.384.89l-.274 1.782h-.647l.547-3.52h.61l-.09.6c.283-.412.623-.62 1.02-.62.1 0 .193.008.278.023l-.085.562c-.085-.012-.177-.02-.277-.02l.012-.004zm1.89 2.983h-.59l-.823-3.52h.632l.59 2.747 1.442-2.747h.66l-1.91 3.52h-.003zm2.374-4.2c-.063-.065-.095-.15-.095-.25 0-.125.05-.233.144-.325.095-.09.202-.138.326-.138.1 0 .183.035.246.1.063.07.097.154.097.254 0 .12-.047.227-.142.32-.095.095-.202.142-.326.142-.1 0-.182-.033-.245-.102h-.005zm-.068 4.2h-.632l.532-3.52h.64l-.54 3.52zm1.48-.088c-.23-.146-.413-.342-.547-.588-.13-.25-.197-.52-.197-.82 0-.374.085-.726.253-1.05.17-.33.413-.59.732-.79.32-.2.695-.3 1.125-.3.418 0 .756.105 1.016.316l-.107.657c-.24-.26-.557-.39-.944-.39-.274 0-.52.072-.736.215-.217.143-.382.33-.5.56-.12.232-.178.48-.178.743 0 .32.09.583.27.783.18.2.425.298.738.298.195 0 .39-.034.58-.108.196-.072.368-.178.52-.316l-.098.664c-.185.125-.37.214-.554.266-.185.054-.38.08-.59.08-.288 0-.548-.072-.78-.216l-.004-.005zm3.66-2.703c-.223.2-.376.44-.456.724h2.06c.006-.038.01-.09.01-.157 0-.27-.072-.48-.213-.634-.14-.154-.343-.23-.603-.23-.303 0-.566.098-.792.298h-.005zm1.875-.446c.233.263.35.603.35 1.02 0 .14-.007.255-.022.346-.014.09-.038.2-.07.325h-2.674c-.014.36.078.64.277.835.2.195.47.29.81.29.24 0 .452-.028.647-.088.194-.06.386-.15.576-.27l-.085.54c-.365.25-.797.376-1.293.376-.328 0-.61-.072-.85-.212s-.422-.338-.546-.587c-.127-.25-.19-.53-.19-.844 0-.31.075-.627.226-.956.15-.33.382-.606.688-.83.31-.223.687-.335 1.136-.335.443 0 .78.13 1.014.39h.005zm-34.026-1.786c-.147.98-.883.98-1.597.98h-.406l.286-1.83c.017-.11.11-.19.22-.19h.186c.485 0 .943 0 1.18.28.14.167.183.416.13.76h.002zm-.314-2.56h-2.688c-.182 0-.34.136-.368.32l-1.087 6.998c-.02.138.083.264.222.264h1.377c.13 0 .238-.095.258-.224l.308-1.985c.028-.183.185-.32.368-.32h.852c1.77 0 2.792-.87 3.06-2.594.12-.753.004-1.346-.343-1.76-.383-.457-1.06-.696-1.96-.696v-.003zm-18.86 2.56c-.147.98-.884.98-1.597.98h-.406l.284-1.83c.018-.11.113-.192.222-.192h.185c.484 0 .943 0 1.18.282.14.167.182.417.13.76h.002zm-.313-2.555h-2.69c-.184 0-.342.135-.37.32l-1.086 6.997c-.02.14.085.265.222.265h1.283c.185 0 .34-.136.37-.32l.294-1.887c.028-.183.184-.318.368-.318h.85c1.77 0 2.794-.87 3.06-2.595.12-.754.006-1.347-.342-1.76-.38-.458-1.06-.7-1.96-.7v-.003zm6.24 5.07c-.124.747-.708 1.248-1.454 1.248-.372 0-.67-.124-.863-.353-.19-.23-.262-.556-.2-.918.115-.74.708-1.26 1.442-1.26.367 0 .663.124.86.356.195.235.273.563.217.924l-.003.003zm1.796-2.545h-1.296c-.11 0-.204.08-.22.192l-.057.366-.09-.134c-.28-.41-.9-.55-1.52-.55-1.423 0-2.638 1.095-2.874 2.63-.124.765.05 1.498.48 2.01.39.467.952.664 1.62.664 1.145 0 1.782-.748 1.782-.748l-.058.363c-.022.137.082.263.22.263h1.16c.183 0 .338-.135.368-.32l.695-4.47c.02-.14-.085-.264-.22-.264l.01-.005z"/>
    <path d="M291.04 82.684c-.12.753-.687 1.258-1.41 1.258-.363 0-.654-.122-.84-.356-.187-.23-.255-.557-.196-.923.11-.746.687-1.265 1.4-1.265.354 0 .642.124.833.36.19.237.267.567.21.933m1.743-2.563h-1.25c-.108 0-.198.082-.214.194l-.054.367-.088-.132c-.27-.416-.873-.555-1.475-.555-1.382 0-2.56 1.102-2.79 2.648-.12.77.05 1.508.464 2.022.382.473.925.67 1.574.67 1.114 0 1.73-.753 1.73-.753l-.055.366c-.02.14.08.264.215.264h1.126c.178 0 .33-.137.358-.323l.675-4.51c.02-.138-.08-.265-.215-.265m-11.96 0h-1.255c-.12 0-.23.06-.3.166l-1.732 2.688-.735-2.58c-.046-.16-.187-.27-.347-.27h-1.235c-.15 0-.254.153-.206.302l1.383 4.278-1.302 1.933c-.102.152.002.363.178.363h1.257c.12 0 .23-.06.3-.164l4.175-6.354c.1-.15-.003-.36-.18-.36M295.188 78.18l-1.185 6.577c-.023.128.09.243.238.243h1.193c.197 0 .365-.125.396-.295l1.167-6.46c.023-.13-.09-.245-.238-.245h-1.335c-.12 0-.22.075-.238.178"/>
  </g>
  </svg>
      <nav class="main__nav">
          <a href="https://www.braintreepayments.com/careers" id="careers">Careers</a>
          <a href="https://github.com/braintree">Github</a>
          <a href="https://dribbble.com/braintree">Dribbble</a>
          <a href="https://twitter.com/braintree">Twitter</a>
          <a href="https://codepen.com/braintree">Codepen</a>
      </nav>
    </header>

    <div class="hero">
        <h1>We're proud to participate in and support the open source community.</h1>
    </div>

    <div class="feature">
        <div class="feature-container">
            <h3 class="heading--knockout">Projects</h3>

            {{#each repositories}}
              <a class="feature__item" href="{{this.url}}">
                <div>
                    <h4>
                  {{#each this.languages}}
                    {{this}}
                  {{/each}}
                </h4>
                    <h2>{{this.name}}</h2>
                    <p>{{this.description}}</p>
                </div>
              </a>
            {{/each}}

        </div>
    </div>

    <div class="careers">
        <h1>Join the team.</h1>
        <a class="btn--main" href="https://www.braintreepayments.com/careers">Checkout out the careers page</a>
    </div>


    <footer>
        <div class="footer__content">
            <nav>
                <a href="https://www.instagram.com/braintree/">Instagram</a>
                <a href="https://twitter.com/braintree">Twitter</a>
                <a href="https://www.facebook.com/braintree/">Facebook</a>
            </nav>

            <small>© 2008 - 2017 Braintree, a division of PayPal, Inc. All rights reserved</small>
        </div>
    </footer>

    <!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" "); for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("c892cacbb753ffd93a86d3738d0d82e1");</script><!-- end Mixpanel -->
</body>

</html>
