<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Braintree Open Source</title>
  <meta name="description" content="The official home of Braintree's open source contributions. We share our latest projects and help you explore our community of designers and developers.">
  <!-- Sharing meta tags -->
  <meta property="og:title" content="Braintree Open Source & Community Page" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="The official home of Braintree's open source contributions. We share our latest projects and help you explore our community of designers and developers." />
  <meta property="og:image" content="https://braintree.github.io/img/ogimage.png" />

  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

  <link href="img/favicon.png" rel="icon" type="image/png">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <header class="header-main">
    <svg width="138" height="32" viewBox="0 0 519 120" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Braintree a PayPal service</title><defs><path id="a" d="M.06.543v61.44h52.994V.543H.06z"/><path id="c" d="M77.066 28.94H.81V.85h76.256v28.09z"/></defs><g fill="none" fill-rule="evenodd"><g transform="translate(0 6)"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path d="M0 61.983v-9h7.137V9.548H0V.542h28.55c13.105 0 21.093 6.038 21.093 16.524 0 6.884-4.047 11.123-9.16 13.135 7.35 2.02 12.57 7.21 12.57 14.3 0 11.23-8.735 17.48-23.01 17.48H0zM16.938 9.55v16.737H27.59c7.992 0 12.146-2.97 12.146-8.37 0-5.51-4.26-8.37-12.25-8.37H16.938v.002zm0 43.432h12.146c9.377 0 14.064-3.073 14.064-9.006 0-5.827-5.01-9.003-14.81-9.003h-11.4v18.01z" fill="#FFF" mask="url(#b)"/></g><path d="M104.836 35.995c-1.065-3.604-3.73-5.722-7.245-5.722-8.2 0-15.98 6.037-15.98 17.054v11.655h15.77v9H62.22v-9h10.015v-27.12H64.35v-9.005h17.153v7.627c2.875-5.297 8.736-9.11 16.513-9.11 8.737 0 14.17 4.977 15.768 12.075l-8.948 2.54m47.942 5.72v-2.54c0-6.36-5.114-9.01-10.652-9.01-5.22 0-9.697 2.12-13.318 5.4l-6.18-6.68c4.262-3.93 10.333-7.52 19.498-7.52 11.398 0 20.24 6.04 20.24 17.48v20.14h6.608v9h-16.196v-4.76c-2.448 3.92-9.054 6.25-15.553 6.25-9.375 0-17.473-4.77-17.473-14.2 0-11.13 10.975-15.36 20.987-15.36 4.9 0 8.95.95 12.03 1.8zm0 8.05c-2.98-1.06-7.455-1.91-11.613-1.91-5.965 0-11.72 1.91-11.72 7.31 0 4.02 3.622 5.93 8.63 5.93 6.924 0 14.7-3.71 14.7-10.07v-1.27h.003zm73.087 9.22v9h-45.81v-9h18.964V31.86h-14.49v-9.004h23.86V58.98h17.47v.002zm-28.018-45.13h10.55V.08h-10.55v13.772zm39.316 45.13h6.925V31.86h-6.5v-9.004h15.77v5.823c2.77-4.45 8.52-7.31 15.552-7.31 10.12 0 17.367 6.35 17.367 16.63v20.98h6.923v9h-23.542v-9h7.243V40.54c0-7.838-4.79-10.062-9.16-10.062-7.13 0-14.27 5.298-14.27 13.454V58.98h7.25v9h-23.55v-9m68.93-27.12h-11.83v-9.003h11.83V6.543h9.38v16.314h22.05v9.002h-22.05v18.96c0 6.99 4.91 9.85 10.55 9.85 5.33 0 9.8-2.97 13.11-6.25l6.29 6.46c-4.15 4.45-10.54 8.58-19.39 8.58-11.39 0-19.92-6.25-19.92-18.33V31.86m90.45 4.135c-1.06-3.604-3.72-5.722-7.24-5.722-8.2 0-15.98 6.037-15.98 17.054v11.655h15.77v9h-35.16v-9h10.02v-27.12h-7.88v-9.005h17.15v7.627c2.88-5.297 8.74-9.11 16.51-9.11 8.74 0 14.17 4.977 15.77 12.075l-8.95 2.54m63.08 25.1c-4.68 4.87-13 8.37-22.27 8.37-15.23 0-25.89-10.17-25.89-24.05s10.33-24.05 24.71-24.05c14.28 0 24.3 10.91 24.3 25.74v1.59H421.4c1.6 7.52 7.89 12.07 16.09 12.07 6.82 0 12.68-2.76 15.88-6.25l6.28 6.56zM421.8 40.76h27.908c-1.38-6.462-7.134-10.807-13.526-10.807-7.246 0-12.784 4.45-14.382 10.806zm96.097 20.337c-4.686 4.874-12.998 8.37-22.264 8.37-15.235 0-25.89-10.17-25.89-24.045 0-13.878 10.332-24.05 24.717-24.05 14.277 0 24.293 10.915 24.293 25.74v1.59h-39.105c1.603 7.523 7.887 12.077 16.09 12.077 6.818 0 12.68-2.76 15.875-6.25l6.284 6.56zM480.075 40.76h27.914c-1.39-6.462-7.14-10.807-13.53-10.807-7.25 0-12.79 4.45-14.39 10.806zm-219.39 55.46l-4.966 9.525h6.92l-1.96-9.525zm-6.194 11.89l-2.39 4.617h-2.95l10.75-20.16h2.66l4.36 20.16h-2.8l-.96-4.617h-8.65zm184.53 2.86c1.06 0 1.93-.2 2.63-.6.7-.4 1.22-.91 1.55-1.534.33-.624.5-1.265.5-1.928 0-.585-.16-1.086-.48-1.505-.32-.418-.87-.823-1.65-1.212l-2.54-1.08c-1.44-.64-2.47-1.34-3.11-2.1-.63-.76-.95-1.68-.95-2.77 0-1.18.3-2.23.91-3.14.6-.9 1.45-1.6 2.53-2.09s2.33-.73 3.73-.73c1.17.02 2.19.18 3.07.48.88.3 1.65.76 2.31 1.36l-.44 2.72c-1.5-1.36-3.24-2.05-5.23-2.07-1.21 0-2.2.31-2.96.91-.77.61-1.15 1.38-1.15 2.31 0 .53.19.98.57 1.35.38.37 1.08.79 2.09 1.26l2.49 1.11c1.35.66 2.3 1.38 2.85 2.15.56.77.83 1.69.83 2.76 0 1.23-.26 2.36-.79 3.39-.52 1.04-1.37 1.88-2.54 2.53-1.17.66-2.67.98-4.5.98-2.51 0-4.49-.63-5.93-1.9l.47-2.89c1.73 1.52 3.66 2.28 5.78 2.28m14.07-9.45c-.92.81-1.55 1.79-1.88 2.94h8.48c.02-.16.03-.37.03-.64 0-1.09-.29-1.94-.88-2.57-.58-.62-1.41-.93-2.48-.93-1.25 0-2.33.41-3.26 1.21m7.69-1.81c.96 1.06 1.45 2.44 1.45 4.14 0 .57-.03 1.04-.09 1.4-.06.38-.15.81-.29 1.32h-11c-.06 1.46.32 2.59 1.14 3.38.82.79 1.93 1.18 3.33 1.18.98 0 1.86-.12 2.66-.36s1.59-.61 2.37-1.09l-.35 2.19c-1.5 1.02-3.27 1.52-5.32 1.52-1.34 0-2.51-.28-3.49-.86-.98-.57-1.73-1.37-2.25-2.38-.52-1.01-.77-2.15-.77-3.42 0-1.25.31-2.53.93-3.87.63-1.33 1.57-2.45 2.84-3.36 1.26-.9 2.82-1.36 4.67-1.36 1.82 0 3.2.53 4.17 1.59m10.46 1.07c-1.15 0-2.12.42-2.92 1.24-.8.83-1.32 2.03-1.58 3.61l-1.13 7.22H463l2.25-14.26h2.515l-.38 2.43c1.168-1.67 2.57-2.51 4.206-2.51.41 0 .79.03 1.14.09l-.35 2.28c-.35-.05-.73-.08-1.14-.08m7.82 12.07h-2.42l-3.39-14.26h2.6l2.43 11.13 5.93-11.13h2.72l-7.86 14.26m9.76-17.01c-.26-.27-.39-.61-.39-1.02 0-.507.2-.945.59-1.315.39-.37.83-.56 1.34-.56.41 0 .75.14 1.01.41.26.274.4.62.4 1.024 0 .49-.19.92-.58 1.3-.39.38-.83.57-1.34.57-.41 0-.75-.13-1.01-.41m-.3 17.01h-2.6l2.19-14.26h2.63l-2.22 14.26m6.09-.356c-.95-.587-1.7-1.38-2.25-2.38-.54-1.01-.81-2.11-.81-3.32 0-1.517.35-2.94 1.04-4.26.7-1.33 1.7-2.39 3.01-3.2 1.32-.81 2.86-1.21 4.63-1.21 1.72 0 3.11.424 4.18 1.28l-.44 2.66c-.99-1.05-2.29-1.576-3.88-1.576-1.13 0-2.14.29-3.03.87-.89.58-1.57 1.33-2.06 2.268s-.73 1.94-.73 3.01c0 1.3.37 2.36 1.11 3.17.74.81 1.75 1.21 3.04 1.21.8 0 1.6-.14 2.39-.44.8-.29 1.51-.72 2.13-1.28l-.4 2.69c-.76.51-1.52.87-2.28 1.08-.76.22-1.56.32-2.42.32-1.19 0-2.26-.29-3.22-.87m15.05-10.97c-.92.806-1.55 1.786-1.88 2.935h8.48c.02-.16.03-.37.03-.64 0-1.09-.29-1.946-.87-2.57-.58-.62-1.41-.93-2.48-.93-1.25 0-2.33.4-3.26 1.21m7.688-1.81c.96 1.06 1.444 2.44 1.444 4.13 0 .563-.03 1.03-.09 1.4-.06.37-.157.81-.29 1.314h-11c-.057 1.46.32 2.59 1.14 3.38.82.79 1.93 1.18 3.33 1.18.98 0 1.86-.12 2.66-.363.8-.24 1.59-.61 2.37-1.092l-.35 2.19c-1.5 1.015-3.28 1.52-5.32 1.52-1.35 0-2.51-.29-3.49-.86-.99-.573-1.74-1.37-2.25-2.38-.52-1.013-.78-2.15-.78-3.42 0-1.25.31-2.535.93-3.87.62-1.334 1.57-2.453 2.83-3.36 1.27-.904 2.825-1.36 4.675-1.36 1.82 0 3.206.53 4.17 1.59m-139.95-7.24c-.605 3.97-3.636 3.97-6.57 3.97h-1.67l1.17-7.41c.07-.45.457-.78.91-.78h.76c1.996 0 3.88 0 4.854 1.137.58.68.753 1.69.534 3.08m-1.28-10.37h-11.06c-.75 0-1.4.55-1.513 1.3l-4.47 28.35c-.09.56.34 1.07.91 1.07h5.67c.53 0 .98-.386 1.06-.91l1.27-8.04c.113-.744.76-1.294 1.513-1.294h3.5c7.28 0 11.488-3.53 12.586-10.515.5-3.05.02-5.45-1.41-7.13-1.57-1.85-4.36-2.82-8.06-2.82m-77.59 10.36c-.6 3.97-3.63 3.97-6.565 3.97h-1.67l1.17-7.41c.07-.45.46-.78.91-.78h.76c1.99 0 3.88 0 4.85 1.14.58.68.754 1.69.535 3.08m-1.27-10.35H286.2c-.75 0-1.4.55-1.516 1.3l-4.47 28.35c-.09.56.348 1.07.91 1.07h5.28c.76 0 1.4-.55 1.52-1.29l1.21-7.65c.12-.74.76-1.29 1.52-1.29h3.5c7.28 0 11.488-3.527 12.587-10.51.49-3.057.02-5.457-1.41-7.137-1.57-1.85-4.36-2.83-8.06-2.83m25.67 20.53c-.51 3.026-2.91 5.056-5.98 5.056-1.53 0-2.76-.5-3.55-1.43-.78-.93-1.08-2.25-.83-3.72.48-3 2.92-5.1 5.94-5.1 1.505 0 2.726.5 3.53 1.44.81.95 1.13 2.28.9 3.743m7.38-10.3H325c-.453 0-.84.33-.91.78l-.233 1.48-.37-.54c-1.147-1.66-3.7-2.22-6.254-2.22-5.85 0-10.85 4.43-11.82 10.65-.51 3.1.21 6.068 1.97 8.137 1.61 1.9 3.92 2.697 6.67 2.697 4.71 0 7.33-3.03 7.33-3.03l-.24 1.47c-.09.56.34 1.07.91 1.07h4.77c.75 0 1.39-.55 1.51-1.292l2.86-18.12c.08-.56-.35-1.064-.91-1.064" fill="#FFF"/><g transform="translate(333 91)"><mask id="d" fill="#fff"><use xlink:href="#c"/></mask><path d="M68.765 11.655c-.51 3.026-2.913 5.056-5.976 5.056-1.54 0-2.77-.49-3.56-1.43-.79-.92-1.08-2.24-.83-3.71.47-3 2.91-5.09 5.93-5.09 1.5 0 2.72.5 3.53 1.45.81.95 1.13 2.28.89 3.75m7.38-10.31h-5.29c-.46 0-.84.33-.91.78l-.23 1.47-.37-.53C68.19 1.42 65.63.86 63.08.86c-5.85 0-10.846 4.43-11.82 10.65-.505 3.1.214 6.063 1.97 8.132 1.618 1.9 3.92 2.694 6.67 2.694 4.716 0 7.33-3.03 7.33-3.03l-.236 1.473c-.088.56.345 1.06.91 1.06h4.77c.755 0 1.397-.55 1.517-1.3l2.86-18.13c.09-.56-.34-1.07-.91-1.07m-50.66 0h-5.32c-.51 0-.98.25-1.27.67l-7.34 10.81L8.44 2.45c-.195-.65-.793-1.095-1.47-1.095H1.74c-.635 0-1.08.62-.875 1.22l5.86 17.2L1.21 27.55c-.433.61.005 1.46.753 1.46h5.32c.51 0 .98-.24 1.27-.66L26.24 2.8c.423-.61-.015-1.448-.758-1.448" fill="#FFF" mask="url(#d)"/></g><path d="M415.385 82.9l-4.538 28.87c-.09.56.344 1.065.91 1.065h4.565c.755 0 1.398-.548 1.517-1.296l4.47-28.36c.09-.56-.35-1.07-.91-1.07h-5.11c-.46 0-.84.33-.91.78" fill="#FFF"/></g></svg>

    <nav class="header-main__nav">
      <ul>
        <li><a id="about">About</a> •</li>
        <li><a href="https://www.braintreepayments.com/careers" id="careers">Careers</a> •</li>
        <li><a href="https://github.com/braintree">Github</a> •</li>
        <li><a href="https://dribbble.com/braintree">Dribbble</a> •</li>
        <li><a href="https://twitter.com/braintree">Twitter</a> •</li>
        <li><a href="https://codepen.com/braintree">Codepen</a></li>
      </ul>
    </nav>
  </header>

  <div class="intro__about" id="sectionIntro">
    <h2 class="intro__heading">We're proud to participate in and support the open source community</h2>
  </div>

  <h1 class="repo__heading">Projects</h1>

  <section class="repo-container" id="sectionRepos">







{{#each repositories}}

   <div class="repo repo--web">
      <div class="repo__content-wrapper">
        <div class="repo__riser">
          <h4 class="repo__lang">{{#each this.languages}}{{this}} {{/each}}</h4>

          <h1 class="repo__name">{{this.name}}</h1>

          <p class="repo__desc">{{this.description}}</p>

        </div>
      </div>
    </div>
{{/each}}


  </section>


  <div class="filter-container filter-container--fixed">
    <div class="filter filter--circled" id="sectionFilter">
      <div class="filter__arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" viewBox="0 0 25 13">
          <polygon fill="#000000" fill-rule="evenodd" points="13.912 19.29 12.242 21.17 24.329 31.907 36.415 21.17 34.746 19.29 24.315 28.555" transform="translate(-12 -19)"/>
        </svg>
      </div>
      <div class="filter__nav">
        <a href="" id="filterAll">All</a> <span class="separator">•</span>
        <a href="" id="filterAndroid">Android</a> <span class="separator">•</span>
        <a href="" id="filterIos">iOs</a> <span class="separator">•</span>
        <a href="" id="filterWeb">Web</a>
      </div>
    </div>
  </div>

  <section class="careers__wrapper" id="sectionCareers">
    <div class="careers__content">
      <h1 class="careers__heading">Join the team</h1>

      <a href="https://www.braintreepayments.com/careers" class="button">Checkout out careers page</a>
    </div>
  </section>

  <footer class="footer-container" id="sectionFooter">
    &copy; 2008 - 2017 Braintree, a division of PayPal, Inc. All rights reserved
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>

  <script src="js/min/init-min.js"></script>

  <script src="js/pulse-orb.js"></script>
  <script src="js/pulse-main.js"></script>

  <!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("c892cacbb753ffd93a86d3738d0d82e1");</script><!-- end Mixpanel -->
</body>

</html>
