$heading-family: "bt_mono", monospace;
$body-family: "Avenir Next", "Neue Helvetica W01", "Helvetica Neue", Helvetica, sans-serif;
$max-width: 65.1875rem;
$gray: #E6E6E6;

html {
  font: 1rem/1.5 $body-family;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: $heading-family;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
}

.header-main {
  display: flex;
  justify-content: space-between;
  width: $max-width;
  margin: 3.625rem auto 0;
}

.hero {
  width: $max-width;
  margin: 0 auto;
  padding: 2rem 0;
}

.main__nav {
  a {
    margin-left: 1rem;
    font-family: $heading-family;
    font-weight: bold;
  }
}

.heading--knockout {
  font-size: 1rem;
  background: black;
  color: white;
  padding: 0.3rem 1rem;
}

.feature {
  background: $gray;
  padding: 4rem 0;
}

.feature-container {
  position: relative;
  width: $max-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4rem;

  .heading--knockout {
    position: absolute;
    top: -6rem;
  }

  h2,
  h4 {
    margin: 0;
  }
}

.feature__item {
  padding: 2rem;
  background: white;
  margin-bottom: 3rem;
}

.careers {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  margin: 0 auto;
  max-width: $max-width;
  align-items: center;
}

footer {
  background: black;
  color: white;
  padding: 2rem 0;

  .footer__content {
    display: flex;
    justify-content: space-between;
    max-width: $max-width;
    margin: 0 auto;
  }

  a {
    color: white;
  }
}

.btn--main {
  border: 2px solid black;
  padding: 1rem;
  font-family: $heading-family;
  font-weight: bold;
}
