@import 'vendor/normalize';
@import 'fonts';
$heading-family: 'bt_mono', monospace;
$body-family: 'Avenir Next', 'Neue Helvetica W01', 'Helvetica Neue', Helvetica, sans-serif;
$max-width: 72.4305556%; // 1043px
$gray: #E6E6E6; // Screen Sizes
$screen-medium: 65.25rem;
$screen-small: 768px;

* {
  box-sizing: border-box;
}

html {
  font: 1rem/1.5 $body-family;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: $heading-family;
  font-weight: 600;
}

h1 {
  font-size: 3rem;
  @media(max-width: $screen-small) {
    font-size: 2.125rem;
  }
}

h2 {
  font-size: 2rem;
  @media(max-width: $screen-small) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1rem;
}

a {
  border-bottom: 1px solid black;
  color: black;
  padding-bottom: 2px;
  text-decoration: none;
}

.header-main {
  display: flex;
  justify-content: space-between;
  margin: 3.625rem auto 0;
  width: $max-width;
  @media(max-width: $screen-small) {
    margin-top: 2rem;
    padding: 0 2rem;
    width: 100%;
  }
}

.hero {
  margin: 0 auto;
  padding: 2rem 0;
  width: $max-width;
  @media(max-width: $screen-small) {
    padding: 2rem;
    width: 100%;
  }
}

.main__nav {
  a {
    font-family: $heading-family;
    font-weight: 600;
    margin-left: 1rem;
  }
}

.heading--knockout {
  background: black;
  color: white;
  font-size: 1rem;
  padding: 0.3rem 1rem;
}

.feature {
  background: $gray;
  padding: 4rem 0;
  @media(max-width: $screen-small) {
    padding: 2rem 0;
  }
}

.feature-container {
  display: grid;
  grid-column-gap: 2.25rem; // Use this for safari browsers
  grid-column-gap: 6.1361457%;
  grid-template-columns: 29.2425695% 29.2425695% 29.2425695%;
  margin: 0 auto;
  position: relative;
  width: $max-width;

  @media(max-width: $screen-medium) {
    grid-template-columns: 46% 46%;
  }
  @media(max-width: $screen-small) {
    width: 100%;
    grid-template-columns: 100%;
  }

  .heading--knockout {
    position: absolute;
    top: -6rem;
    @media(max-width: $screen-small) {
      top: -4rem;
    }
  }

  h4 {
    color: rgba(0,0,0,0.6);
  }

  h2,
  h4 {
    margin: 0;
    word-break: break-word;
  }
}

.feature__item {
  align-self: center;
  background: white;
  display: inline-block;
  margin-bottom: 3rem;
  padding: 2rem;
  @media($screen-medium) {
    width: 49%;
  }
  @media(max-width: $screen-small) {
    margin-bottom: 1rem;
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }
}

.careers {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2rem 0;
  width: $max-width;
  @media(max-width: $screen-small) {
    flex-direction: column;
    flex-direction: column;
    padding: 1rem 2rem 2rem;
    width: 100%;
  }
}

footer {
  background: black;
  color: white;
  padding: 2rem 0;

  .footer__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $max-width;
    @media(max-width: $screen-small) {
      padding: 0 2rem;
      width: 100%;
    }
  }

  a {
    color: white;
    margin-right: 1rem;
  }
}

.btn--main {
  border: 2px solid black;
  font-family: $heading-family;
  font-weight: 600;
  padding: 1rem;
}
