@import 'vendor/normalize';
@import 'fonts';
$heading-family: 'bt_mono', monospace;
$body-family: 'AvenirNextLTW01-Regular', 'Avenir Next', 'Neue Helvetica W01', 'Helvetica Neue', Helvetica, sans-serif;
$max-width: 72.4305556%; // 1043px
$light-grey: #E6E6E6;
$dark-grey: #666666;
$grey: #B3B3B3; // Screen Sizes
$screen-large: 90rem;
$screen-medium: 65.25rem;
$screen-small: 768px;

* {
  box-sizing: border-box;
}

html {
  font: 1rem/1.5 $body-family;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: $heading-family;
  font-weight: 600;
}

h1 {
  font-size: 3rem;
  @media(max-width: $screen-small) {
    font-size: 2.125rem;
  }
}

h2 {
  font-size: 2rem;
  @media(max-width: $screen-small) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1rem;
}

a {
  border-bottom: 1px solid black;
  color: black;
  padding-bottom: 2px;
  position: relative;
  text-decoration: none;

  &:hover {
    border-bottom-color: #1524D9;
    color: #1524D9;
  }
}

.header-main {
  display: flex;
  justify-content: space-between;
  margin: 3.625rem auto 0;
  width: $max-width;
  @media(max-width: $screen-small) {
    margin-top: 2rem;
    padding: 0 2rem;
    width: 100%;
  }
}

.hero {
  margin: 0 auto;
  padding: 2rem 0 4rem;
  width: $max-width;

  strong {
    border-bottom: 0.1875rem dashed $grey;
    font-weight: inherit;
    padding-bottom: 0.5rem;
  }
  @media(max-width: $screen-small) {
    padding: 2rem;
    width: 100%;
  }
}

.main__nav {
  a {
    font-family: $heading-family;
    font-weight: 600;
    margin-left: 1rem;
  }
}

.heading--knockout {
  background: black;
  color: white;
  font-size: 1rem;
  padding: 0.3rem 1rem;
}

.feature {
  background: $light-grey;
  box-shadow: inset -6.75rem -11.25rem 0 0 white;
  padding: 4rem 0;

  @media(max-width: $screen-medium) {
    box-shadow: inset 0rem -11.25rem 0 0 white;
  }

  @media(max-width: $screen-small) {
    box-shadow: none;
    padding: 2rem 0;
  }
}

.feature-container {
  display: grid;
  grid-column-gap: 2.25rem; // Use this for safari browsers that have old implementation of css grid spec
  grid-column-gap: 6.1361457%;
  grid-template-columns: 29.2425695% 29.2425695% 29.2425695%;
  margin: 0 auto;
  position: relative;
  width: $max-width;
  @media(max-width: $screen-large) {
    grid-template-columns: 46.93192715% 46.93192715%;
  }
  @media(max-width: $screen-small) {
    width: 100%;
    grid-template-columns: 100%;
  }

  .heading--knockout {
    position: absolute;
    top: -6rem;
    @media(max-width: $screen-small) {
      top: -4rem;
    }
  }

  h4 {
    color: rgba(0,0,0,0.6);
  }

  h2,
  h4 {
    margin: 0;
    word-break: break-word;
  }
}

.feature__item {
  align-self: center;
  background: white;
  border: 0.25rem solid;
  box-shadow: 0.5rem 0.5rem 0 0 rgba(0,0,0,0.1);
  display: inline-block;
  margin-bottom: 3rem;
  margin-right: 2rem;
  padding: 2rem;
  transition: .1s ease-in-out .1s;

  .item__lang:not(:last-of-type):after {
      content: ',';
  }

  .item__content {
    transition: .1s ease-in-out .1s;
  }

  &:hover {
    box-shadow: 0 0 0 0 rgba(0,0,0,0.1);
    transform: translate(0.25rem, 0.25rem);

    .item__content {
      transform: translate(-0.25rem, -0.25rem);
    }
  }
  @media($screen-medium) {
    width: 49%;
  }
  @media(max-width: $screen-small) {
    border-left: 0;
    border-right: 0;
    box-shadow: none;
    margin-bottom: 1rem;
    width: 100%;

    &:hover {
      transform: none;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

@supports (display: grid) {
  .feature__item {
    margin-right: 0;
  }
}

.careers {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 2rem 0;
  width: $max-width;
  @media(max-width: $screen-small) {
    flex-direction: column;
    flex-direction: column;
    padding: 1rem 2rem 2rem;
    width: 100%;
  }
}

footer {
  background: black;
  color: $dark-grey;
  padding: 2rem 0;

  .footer__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $max-width;
    @media(max-width: $screen-small) {
      text-align: center;

      nav {
        margin-bottom: 1rem;
      }

      flex-direction: column;
      width: 100%;
    }
  }

  a {
    color: $dark-grey;
    margin-right: 1rem;
  }

  a:hover {
    color: white;
  }

  .legal a {
    margin-right: 0;
    border-bottom: 1px solid;
    margin: 0 0.25rem;
  }
}

.btn--main {
  border: 2px solid black;
  font-family: $heading-family;
  font-weight: 600;
  padding: 1rem;

  &:hover {
    background: black;
    color: white;
  }
}
